*{
    font-family: "Momo Trust Sans", sans-serif;
}

body{
    background: #7a5133;
    background: -webkit-linear-gradient(90deg, rgba(122, 81, 51, 1) 0%, rgba(255, 180, 41, 1) 50%, rgba(122, 81, 51, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(122, 81, 51, 1) 0%, rgba(255, 180, 41, 1) 50%, rgba(122, 81, 51, 1) 100%);
    background: linear-gradient(90deg, rgba(122, 81, 51, 1) 0%, rgba(255, 180, 41, 1) 50%, rgba(122, 81, 51, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7A5133", endColorstr="#7A5133", GradientType=1);
}

h1{
    color: #333;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 69vw;
}

header h1{
    font-family: "Stack Sans Notch", sans-serif;
    color:#fdb683;
}

header button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #f0c1a0;
    border: none;
    padding: 3.5px 8px;
    border-radius: 12px;
}

header button:hover{
    background-color: #ffbe90;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

header button:active{
    transform: scale(0.975);
    opacity: 0.8;
}

dialog{
    position: relative;
    border: none;
    background: #ede2ca;
    background: -webkit-linear-gradient(165deg, rgba(237, 226, 202, 1) 0%, rgba(255, 179, 38, 1) 50%, rgba(237, 226, 202, 1) 100%);
    background: -moz-linear-gradient(165deg, rgba(237, 226, 202, 1) 0%, rgba(255, 179, 38, 1) 50%, rgba(237, 226, 202, 1) 100%);
    background: linear-gradient(165deg, rgba(237, 226, 202, 1) 0%, rgba(255, 179, 38, 1) 50%, rgba(237, 226, 202, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EDE2CA", endColorstr="#EDE2CA", GradientType=0);
    padding: 1.2%;
    border-radius: 5%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

form label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form input, form select{
    background-color: #fcd9c1;
    border: none;
    padding: 5px;
    border-radius: 12px;
}

form input{
    width: 25vw;
    text-align: center;
}

form select{
    width: 25.5vw;
}

form input:focus, form select:focus{
    outline: none;
}

form input[type="number"]::-webkit-outer-spin-button,
form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form button{
    width: 6.5vw;
    padding: 2%;
    border: none;
    background-color: #f0c1a0;
    border-radius: 12px;
}

form button:hover{
    background-color: #ffbe90;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

form button:active{
    transform: scale(0.975);
    opacity: 0.8;
}

#close, .remove-book-btn, .close{
    position: absolute;
    top: 8px;
    right: 8px;
    color: rgb(236, 38, 38);
}

#close:hover, .remove-book-btn:hover, .close{
    color: rgb(221, 90, 90);
    cursor: pointer;
}

#close:active, .remove-book-btn:active, .close{
    opacity: 0.82;
    transform: scale(0.92);
}

#otherInputWrapper{
    display: none;
}

main{
    padding: 1.2%;
}

.books-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.book{
    background: #ede2ca;
    background: -webkit-linear-gradient(200deg, rgba(237, 226, 202, 1) 0%, rgba(252, 209, 129, 1) 50%, rgba(255, 174, 23, 1) 100%);
    background: -moz-linear-gradient(200deg, rgba(237, 226, 202, 1) 0%, rgba(252, 209, 129, 1) 50%, rgba(255, 174, 23, 1) 100%);
    background: linear-gradient(200deg, rgba(237, 226, 202, 1) 0%, rgba(252, 209, 129, 1) 50%, rgba(255, 174, 23, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EDE2CA", endColorstr="#FFAE17", GradientType=0);
    display: flex;
    flex-direction: column;
    padding: 5%;
    position: relative;
    border-radius: 20px;
    border-left: 12px solid saddlebrown;
}

.book:hover{
    transform: scale(1.035);
}

#book-title, #book-author{
    text-align: center;
    color: #2a2a2a;
}

.book button{
    position: absolute;
    bottom: 10px;
    right: 20px;
    padding: 1.2% 2%;
    border: none;
    border-radius: 20%;
}

.book button:hover{
    opacity: 0.88;
    cursor: pointer;
}

.book button:active{
    opacity: 0.78;
    transform: scale(1.1);
}

.dialog-yes-no div{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 12px;
}

.remove-yes{
    background-color: #f0c1a0;
}

.remove-yes:hover{
    background-color: #ffbe90;
}

.remove-yes:active{
    transform: scale(1.05);
    opacity: 0.8;
}

@media (max-width: 880px) {
    body{
        font-size: 0.9em;
    }

    header{
        gap: 50vw;
    }

    .books-grid{
        grid-template-columns: 1fr 1fr;
    }

    form input{
        width: 35vw;
    }

    form select{
        width: 36.5vw;
    }
}

@media(max-width: 500px) {
    body{
        font-size: 0.8em;
    }

    header{
        gap: 38vw;
    }

    form input, form select{
        font-size: 0.8em;
    }

    form button{
        padding: 5%;
        width: 20vw;
    }

    .books-grid{
        grid-template-columns: 75vw;
        justify-content: center;
    }

    .add-book-text{
        display: none;
    }

    form input{
        width: 55vw;
    }

    form select{
        width: 57vw;
    }

    #close, .close{
        font-size: 0.9em;
    }
}

@media(max-width: 425px){
    body{
        font-size: 0.65em;
    }

    button{
        font-size: 0.75em;
    }

     form input{
        width: 65vw;
    }

    form select{
        width: 67.5vw;
    }
}